- @title = 'My Account'

.row
  .column.large-10.large-offset-1
    %h1 My Account
    
    .panel
      = form_for @user, :url => my_account_path do |f|
        .control-group
          %label.checkbox
            = f.check_box :notify_when_new_post 
            Send me an email when there is a new post
        .control-group
          %label.checkbox
            = f.check_box :notify_when_new_comment 
            Send me an email when there is a new comment
      
        .form-actions
          = f.submit "Save changes", :class => 'button large'

    = link_to "Log out", destroy_user_session_path, :class => 'button tiny alert'