.comment.clearfix{ :id => ['comment', comment.id] }
	%table
		%tr
			%td.avatar
				= link_to(comment.user, :title => comment.user.name) do
					= image_tag "avatars/#{comment.user.avatar}", :class => "avatar"
				= link_to('Delete', comment, :method => :delete, :confirm => "Are you sure?", :remote => true) if comment.allowed_to_delete?(current_user)
			%td
				%p.small
					On
					%time{ :datetime => comment.created_at }= comment.date_pretty
					= link_to comment.user.name, comment.user	
					said:
	
				= simple_format auto_link comment.body