<nav>
	<ul>
		<li>
			<%= link_to 'My Account', my_account_path %>
		</li>
		<li>
			<%= link_to('Create New Post', new_post_path) if current_user.can_post %>
		</li>
	</ul>
</nav>
<nav class="space">
<h4>Comments</h4>
<ul>
	<%= render :partial => 'shared/recent_comment_link', :collection => @recent_comments, :as => :recent_comment %>
</ul>
</nav>
<nav class="space">
<h4>Archives</h4>
<ul>
	<%= render :partial => 'shared/archive_link', :collection => @archives, :as => :archive  %>
</ul>
</nav>
<nav class="space">
<h4>Tags</h4>
<ul>
	<%= render :partial => 'shared/tag_link', :collection => @tags, :as => :tag %>
</ul>
</nav>