.well
  %nav
    %ul.unstyled
      %li= link_to 'My Account', my_account_path
      %li= link_to('Create New Post', new_post_path) if current_user.can_post 

  %nav
    %h4 Comments
    %ul.unstyled= render :partial => 'shared/recent_comment_link', :collection => Comment.recent, :as => :comment 

  %nav
    %h4 Archives
    %ul.unstyled= render :partial => 'shared/archive_year_link', :collection => Post.archives, :as => :year

  %nav
    %h4 Tags
    %ul.unstyled= render :partial => 'shared/tag_link', :collection => @tags || Tag.list, :as => :tag 