.synopsis{ :id => ['post', post.id ]}
	%h3= link_to post.title, post
	%p
		%strong
			%time{ :datetime => post.created_at }
				= post.date_pretty 
				
	%article
		= simple_format truncate post.body, :length => 150
		
	.small
		%p
			= link_to "View", post, :class => 'view'
			- if current_user.is_super_user || post.user_id == current_user.id
				= link_to 'Edit', edit_post_path(post) 
				= link_to 'Delete', post, :method => :delete, :confirm => "Are you sure?", :remote => true
		
		%p
			Comments: #{link_to post.comments.count, post_path(post, :anchor => 'comments')} | Posted by: #{link_to post.user.name, post.user}
			
		%p
			Tags: #{raw tags_list(post.tags)}