<div class="synopsis" >
	<h3><%= link_to post.title, post %></h3>
	<p><time datetime="<%= post.created_at %>"><%= post.date_pretty %></time></p>
	<article>
		<%= truncate post.body, :length => 150 %>
	</article>
	<div class="small">
		<p>
			<%= link_to "View", post, :class => 'view' %>
			<%= link_to_if current_user.is_super_user || post.user_id == current_user.id, 'Edit', edit_post_path(post) %>
		</p>
		<p>
			Comments: <%= link_to post.comments.count, post_path(post, :anchor => 'comments') %> | 
			Posted by: <%= link_to post.user.name, post.user %>
		</p>
		<p>
			Tags: <%= raw tags_list(post.tags)%> 
		</p>
	</div>
</div>