= form_for(@post) do |f|
	- if @post.errors.any?
		#error_explanation
			%h3 #{pluralize(@post.errors.count, "error")} prohibited this post from being saved:
			%ul
				-  @post.errors.full_messages.each do |msg|
					%li= msg
	
	%p
		= f.label :title, "This post's title"
		%br
		= f.text_field :title

	%p	
		= f.label :body, "This post's contents"
		%br
		= f.text_area :body

	%p
		= label_tag :tags_list, "This post's tags"
		%br
		= text_field_tag :tags_list, (@post.tags.map{|t| t.tag}.join(", ") if @post.tags.any?)

	#videos
		= f.fields_for :videos do |video_form|	
			%p	
				= video_form.label :embed, "Embed a video"
				%br
				= video_form.text_area :embed
		
	#photos
		= f.fields_for :images do |image_form|
			%p
				= image_form.label :embed, "Embed a photo"
				%br
				= image_form.text_area :embed

	.actions
		= f.submit 

