= form_for @post do |f|

  - if @post.errors.any?
    .alert.alert-error
      %button.close{ :type => 'button', :data => { :dismiss => 'alert' } } &times;
      %h3 #{ pluralize(@post.errors.count, 'error') } prohibited this post from being saved:
      %ul
        -  @post.errors.full_messages.each do |msg|
          %li= msg

  = f.label :title, "This post's title"
  = f.text_field :title, :required => true

  = f.label :body, "This post's contents"
  = f.text_area :body

  = label_tag :tags_list, "This post's tags"
  = text_field_tag :tags_list, @post.tags.map(&:tag).join(", ")

  = f.fields_for :videos do |video_form|	
    %fieldset
      %legend Video
  	
      = video_form.label :embed
      ~ video_form.text_area :embed
      %label.checkbox
        = video_form.check_box '_destroy'
        Delete

  %dl.tabs{ 'data-tab' => ''}    
    %dd.active
      %a{ :href => '#photos-picasa' } Picasa
    %dd
      %a{ :href => '#photos-embed' } Direct Embed

  .tabs-content
    #photos-embed.content
      = f.fields_for :photos do |image_form|
        %fieldset
          %legend Photo
          = image_form.label :url
          ~ image_form.text_area :url
          = image_form.label :thumbnail
          ~ image_form.text_area :thumbnail
          %label.checkbox
            = image_form.check_box '_destroy'
            Delete

    #photos-picasa.content.active  
      
      = label :picasa_album, 'Album'
      = select_tag :picasa_album, nil, :prompt => "Select"
        
      %ul#photos-picasa-gallery.small-block-grid-2.medium-block-grid-3

  = f.submit :class => 'button large'

= content_for :javascripts do
  = javascript_include_tag 'picasa_importer.js'

