%section.post.clearfix

  %a{ :href => post_path(post) }
    %h2= post.title

  :markdown
    #{ post.body }

  .videos
    - post.videos.each_embed do |video|
      = video.html_safe
  
  .photos
    - if post.photos.size > 1
      .showcase
        - post.photos.each_embed do |photo|
          .showcase-slide
            .showcase-content
              = photo.html_safe
            .showcase-thumbnail
              = photo.html_safe
              .showcase-thumbnail-cover
    - else
      - post.photos.each_embed do |photo|
        = photo.html_safe
  
  %small
    = link_to "Posted #{ post.date_pretty }", post
    |
    = link_to pluralize(post.comments.length, 'Comment'), post_path(post, :anchor => 'comments')

