<article id="post">
	<h2><%= link_to post.title, post %></h2>
	<h4><time datetime="<%= post.created_at %>"><%= post.date_pretty %></time></h4>
	<div id="body">
		<%= simple_format auto_link post.body %>

		<% post.videos.each do |video| %>
			<div class="video">
				<%= raw video.embed %>
			</div>
		<% end %>

		<% post.images.each do |image| %>
			<div class="image">
				<%= raw image.embed %>
			</div>
		<% end %>
	</div>
	<div class="small">
		<p>
			<%= link_to("View", post, :class => 'view') if show_view_link %>
			<%= link_to('Edit', edit_post_path(post)) if current_user.is_super_user || post.user_id == current_user.id %>
			<%= link_to('Delete', post, :method => :delete, :confirm => "Are you sure?") if current_user.is_super_user || post.user_id == current_user.id %>
		</p>
		<p>
			Comments: <%= link_to post.comments.count, post_path(post, :anchor => 'comments') %> | 
			Posted by: <%= link_to post.user.name, post.user %>
		</p>
		<p>
			Tags: <%= tags_list(post.tags) %> 
		</p>
	</div>
</article>