%article#post
	%h2= link_to post.title, post
	%strong<
		%time{ :datetime => post.created_at }
			= post.date_pretty
		
	= simple_format auto_link post.body

	- post.videos.each do |video|
		.video
			= raw video.embed
			
	- post.images.each do |image|
		.image
			= raw image.embed 
			
	.small
		%p
			= link_to('Edit', edit_post_path(post)) if current_user.is_super_user || post.user_id == current_user.id 
			= link_to('Delete', post, :method => :delete, :confirm => "Are you sure?") if post.allowed_to_delete?(current_user)
		%p
			Comments: #{link_to post.comments.count, post_path(post, :anchor => 'comments')} | Posted by: #{link_to post.user.name, post.user}
		%p
			Tags: 
			= tags_list(post.tags)
			