%section.post

  %a{ :href => post_path(post) }
    %h2= post.title

  :markdown
    #{ post.body }

  .videos
    - post.videos.map(&:embed).each do |video|
      = video.html_safe
  
  .photos
    - if post.photos.size > 1
      .showcase
        - post.photos.map(&:embed).each do |photo|
          .showcase-slide
            .showcase-content
              = photo.html_safe
            .showcase-thumbnail
              = photo.html_safe
              .showcase-thumbnail-cover
    - else
      - post.photos.map(&:embed).each do |photo|
        = photo.html_safe
    

