<% content_for :title do %> 
  - Editing "<%= @post.title %>"
<% end %>

<h2>Editing "<%= @post.title %>"</h2>

<%= render 'form' %>
<p>
	<%= link_to 'Show', @post %> |
	<%= link_to 'All posts', posts_path %>
</p>