- @title = @post.title

= render :partial => @post

- if @post.tags.any?
  %p
    Tags:
    = @post.tags.map{ |t| link_to t.tag, tag_path(t) }.join(', ').html_safe

- if @post.allowed_to_edit_or_delete?(current_user)
  %ul.button-group.right
    %li= link_to 'Edit', edit_post_path(@post), :class => 'button tiny secondary'
    %li= link_to 'Delete', post_path(@post), :method => :delete, :confirm => 'Are you sure?', :class => 'button tiny alert'

%hr

#comments
  %h3= pluralize @post.comments.size, 'comment'
  = render :partial => 'comment', :collection => @post.comments


  = form_for @comment, :url => add_comment_post_path(@post), :remote => true do |f|
    = f.label :body, 'Add your comment'
    ~ f.text_area :body
    = submit_tag "Post Comment", :class => 'button'

