<% content_for :title do %> 
  - <%= @post.title %>
<% end %>

<div id="previous_next">
	<%= link_to("Previous Post", @post.previous_post) if @post.previous_post %>
	<%= link_to("Next Post", @post.next_post) if @post.next_post %>
</div>

<%= render :partial => 'post', :object => @post, :locals => { :show_view_link => false } %>
<div id="comments">
	<h3>Comments</h3>
	<%= render :partial => 'comment', :collection => @post.comments %>
</div>
<%= form_for @comment, :url => add_comment_path(@comment), :remote => true do |f| %>
	<p>
	  	<%= f.label :body, "Add your comment" %><br/>
	  	<%= f.text_area :body %>
	</p>
	<p>
  		<%= submit_tag "Post Comment" %>
	</p>
  		<%= f.hidden_field :post_id %>
<% end %>
