!!!
%html
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ 'http-equiv' => "X-UA-Compatible", :content => 'IE=edge,chrome=1' }
    %title= ["Boozle Blog", @title].flatten.select{ |s| s.present? }.reverse.join(" | ")
    %meta{ :name=> 'viewport', :content => 'width=device-width, initial-scale=1.0' }

    = favicon_link_tag
    = stylesheet_link_tag 'application'
    = yield :stylesheets
    = javascript_include_tag 'libs/modernizr'
    = csrf_meta_tag

  %body
    %header
      .row
        .column
          %a{ :href => root_path }
            %h1.text-center The Boozle Blog
    
    - flash.each do|key, value|
      - if key == :notice then key = 'success' end
      - if key == :error  then key = 'warning' end
      .row
        .column
          .alert-box{ :class => key, 'data-alert' => '' }
            %a.close{ :href => '#' } &times;
            %p= value
  
    #main= content_for?(:content) ? yield(:content) : yield

    %footer

    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'
    :javascript
      window.jQuery || document.write('<script src="/javascripts/lib/jquery.2.0.3.min.js"><\/script>')
    = javascript_include_tag 'application'  
    = yield :javascripts
