<% content_for :content do %>
<div class="clearfix">
	<div class="left">
		<%= yield %>
	</div>
	<div class="right">
		<nav>
			<%= link_to 'My Account', user_path(current_user)%>
			<br />
			<%= link_to_if user_signed_in?, 'Log out', destroy_user_session_path %>
			<br/>
			<%= link_to('Create New Post', new_post_path) if current_user.can_post %>
		</nav>
		<nav class="space">
		<h4>Recent Comments</h4>
		<ul>
			<%= render :partial => 'shared/recent_comment_link', :collection => @recent_comments, :as => :recent_comment %>
		</ul>
		</nav>
		<nav class="space">
		<h4>Archives</h4>
		<ul>
			<%= render :partial => 'shared/archive_link', :collection => @archives, :as => :archive  %>
		</ul>
		</nav>
		<nav class="space">
		<h4>Tags</h4>
		<ul>
			<%= render :partial => 'shared/tag_link', :collection => @tags, :as => :tag %>
		</ul>
		</nav>
	</div>
</div>
<% end %>
<%= render :file => 'layouts/application' %>